Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
'''A database is an organized collection of data that can be stored, retrieved, and managed efficiently.
SQL Databases: Relational, structured schema, uses SQL (e.g., MySQL, PostgreSQL).
NoSQL Databases: Non-relational, flexible schema, stores data in JSON, key-value, or document formats (e.g., MongoDB, Cassandra).
'''

'A database is an organized collection of data that can be stored, retrieved, and managed efficiently.\nSQL Databases: Relational, structured schema, uses SQL (e.g., MySQL, PostgreSQL).\nNoSQL Databases: Non-relational, flexible schema, stores data in JSON, key-value, or document formats (e.g., MongoDB, Cassandra).\n'

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
'''DDL (Data Definition Language) is used to define or modify the structure of a database.
CREATE: Creates a new table or database.
Example: CREATE TABLE users (id INT, name VARCHAR(50));
DROP: Deletes a table or database.
Example: DROP TABLE users;
ALTER: Modifies a table's structure.
Example: ALTER TABLE users ADD email VARCHAR(50);
TRUNCATE: Removes all rows from a table without deleting the table structure.
Example: TRUNCATE TABLE users;
'''

"DDL (Data Definition Language) is used to define or modify the structure of a database.\nCREATE: Creates a new table or database.\nExample: CREATE TABLE users (id INT, name VARCHAR(50));\nDROP: Deletes a table or database.\nExample: DROP TABLE users;\nALTER: Modifies a table's structure.\nExample: ALTER TABLE users ADD email VARCHAR(50);\nTRUNCATE: Removes all rows from a table without deleting the table structure.\nExample: TRUNCATE TABLE users;\n"

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
'''DML (Data Manipulation Language) is used to manipulate data in a database.
INSERT: Adds new records.
Example: INSERT INTO users (id, name) VALUES (1, 'John');
UPDATE: Modifies existing records.
Example: UPDATE users SET name = 'Doe' WHERE id = 1;
DELETE: Removes records.
Example: DELETE FROM users WHERE id = 1;'''

"DML (Data Manipulation Language) is used to manipulate data in a database.\nINSERT: Adds new records.\nExample: INSERT INTO users (id, name) VALUES (1, 'John');\nUPDATE: Modifies existing records.\nExample: UPDATE users SET name = 'Doe' WHERE id = 1;\nDELETE: Removes records.\nExample: DELETE FROM users WHERE id = 1;"

Q4. What is DQL? Explain SELECT with an example.

In [7]:
'''DQL (Data Query Language) retrieves data from the database.
SELECT: Fetches records.
Example: SELECT * FROM users WHERE id = 1;'''

'DQL (Data Query Language) retrieves data from the database.\nSELECT: Fetches records.\nExample: SELECT * FROM users WHERE id = 1;'

Q5. Explain Primary Key and Foreign Key.

In [9]:
'''Primary Key: Uniquely identifies each record in a table.
Example: id in a users table.
Foreign Key: Links two tables by referencing the primary key of another table.
Example: user_id in orders table referencing id in users table.'''

'Primary Key: Uniquely identifies each record in a table.\nExample: id in a users table.\nForeign Key: Links two tables by referencing the primary key of another table.\nExample: user_id in orders table referencing id in users table.'

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [10]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Yeseera@21",
    database="test"
)

# Create a cursor
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM details")

# Fetch and print results
for row in mycursor:
    print(row)

('Yeseera',)
('Yeseera',)

In [11]:
'''cursor(): Creates a cursor object for executing SQL queries.
execute(): Executes an SQL query.'''

'cursor(): Creates a cursor object for executing SQL queries.\nexecute(): Executes an SQL query.'

Q7. Give the order of execution of SQL clauses in an SQL query.

In [13]:
'''FROM
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT'''

'FROM\nWHERE\nGROUP BY\nHAVING\nSELECT\nORDER BY\nLIMIT'